@using KronikiPodwalaV2.Models;
@model EventModel;

<form asp-action="AddEvent" asp-controller="Events" method="post">
    <div class="mb-3">
        <label asp-for="EventName">

        </label>
        <input asp-for="EventName"/>
    </div>
    <div class="mb-3">
        <label asp-for="EventDescription">

        </label>
        <input asp-for="EventDescription"/>
    </div>
    <div class="mb-3">
        <label asp-for="EventYear">

        </label>
        <input asp-for="EventYear" />
    </div>
    <button type="submit" class="btn btn-primary">Dodaj event</button>
</form>