@using KronikiPodwalaV2.Models;
@model List<EventModel>;

<a asp-action="AddEvent" class="btn btn-primary">Add Event</a>
@foreach(EventModel e in Model)
{
    <div class="my-2">
        <p>@e.EventName</p>
        <a asp-action="ShowEvent" asp-route-id="@e.Id">Rozwiń</a>
    </div>
}
