@using KronikiPodwalaV2.Models;
@using Microsoft.AspNetCore.Identity;
@model List<Comment>;
@inject UserManager<AppUser> UserManager;

<section class="admin-panel">
    <div class="mobile-options">
        <p id="admin-options">Options</p>
    </div>   
    <aside class="admin-nav">
        <p class="desktop-title">Other Options</p>
        <a asp-action="ManageEvents" asp-controller="Events">Manage Events</a>
        <a asp-action="ManageComments" asp-controller="Events">Manage Comments</a>
        <a>Manage Users</a>
        <br>
    </aside>
    <div class="manage-events">
        <h2>Reported Comments</h2>
        <div class="reported-comments">
            @foreach (Comment comment in Model)
            {
                if (comment.isReported)
                {
                    AppUser user = await UserManager.FindByIdAsync(comment.CommentOwner);
                    <div class="reported-comment">

                        <p>Username: @user.UserName</p>
                        <p>UserId: @user.Id</p>
                        <p>Text: @comment.Text</p>
                    </div>
                }
               
                
            }
        </div>
       

        <h3>Actions:</h3>
        <a class="account-btn events-actions" asp-action="ManageComments">Go back to comments</a>
        
    </div>
</section>
