@using KronikiPodwalaV2.Models;
@using Microsoft.AspNetCore.Identity;
@model List<Comment>;
@inject UserManager<AppUser> UserManager;

<section class="admin-panel">
    <div class="mobile-options">
        <p id="admin-options">Options</p>
    </div>   
    <aside class="admin-nav">
        <p class="desktop-title">Other Options</p>
        <a asp-action="ManageEvents" asp-controller="AdminPanel">Manage Events</a>
        <a asp-action="ManageComments" asp-controller="AdminPanel">Manage Comments</a>
        <a asp-action="ManageUsers" asp-controller="AdminPanel">Manage Users</a>
        <br>
    </aside>
    <div class="manage-events">
        <h2>All Comments</h2>
        <div class="reported-comments">
            @foreach (Comment comment in Model)
            {
               
                    AppUser user = await UserManager.FindByIdAsync(comment.CommentOwner);
                    <div class="reported-comment">
                        
                        <p>Username: @user.UserName</p>
                        <p>UserId: @user.Id</p>
                        <p>Text: @comment.Text</p>
                        <form asp-action="DeleteComment" class="event-panel">
                            <input value="@comment.Id" hidden name="Id">
                            <button>Delete</button>
                        </form>
                    </div>
                
            }
        </div>
       

        <h3>Actions:</h3>
        <a class="account-btn events-actions" asp-action="ManageReportedComments">Manage Reported Comments</a>
        
    </div>
</section>
