@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');





html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Exo', sans-serif;
  background-color: #fff;
  margin:0;
  padding: 0;
  width: 100%;
}
.main{
    min-height: 95vh;
}

::-webkit-scrollbar {
    display: none;
    /* Szerokoœæ paska przewijania */
}

::-webkit-scrollbar-track {
    background-color: #fff; /* Kolor t³a paska przewijania */
}

::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
}

main {
    min-height: 100vh;
}/* Kolor paska przewijania */

 

/*****************************/
/*Nav Layout*/


.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

    .nav > .nav-header {
        display: inline;
    }

        .nav > .nav-header > .nav-title {
            display: inline-block;
            font-size: 22px;
            color: #fff;
            padding: 10px 10px 10px 10px;
        }

    .nav > .nav-btn {
        display: none;
    }

    .nav > .nav-links {
        display: inline;
        float: right;
        font-size: 18px;
    }

        .nav > .nav-links > .nav-link {
            display: inline-block;
            padding: 13px 10px 13px 10px;
            text-decoration: none;
            color: #efefef;
        }

            .nav > .nav-links > .nav-link:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

    .nav > #nav-check {
        display: none;
    }

    #logout{
        background: none;
        border: none;
        color: red;
        font-size: 1em;
        padding: 0;
    }

    .footer{
        background-color: #4d4d4d;
        margin: 0;
        height: 16vh
    }

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 24px;
            padding: 13px;
        }

            .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #eee;
            }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

        .nav > .nav-links > a {
            display: block;
            width: 100%;
        }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

a{
    text-decoration: none;
}

.nav-title a{
    color: #fff;
    font-weight: 500;
}

/*LANDPAGE*/
.landpage{
    display: inline-block;
    height: 100vh;
}

.landpage-img{
    display: none;
}
.landpage-img img{
    width: 100%;
}

.container-mobile{
    width: 90%;
    margin: 0 auto;
}

.landpage-text{
    text-align: center;
    font-size: 1.2em
}

.account-btn{
    padding: 1em 2em;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
}

.account-btn a {
   text-decoration: none;
   font-size: 1.2em;
   color: #000;
   
}

@media(min-width: 1024px){
    .landpage-img{
        display: block;
        width: 44%;
        float: left;
        height: 100vh;
    }

    .landpage img{
        height: 100.5vh;
        z-index: 0;
    }
    .container-mobile {
        width: 50%;
        margin: 0;
    }
    .landpage-text{
        padding-top: 8%;
        width: 50%;
        float: left;
        margin: 0 3%;
        height: 100vh;

    }

    .landpage{
        height: 100vh;
    }
    .layer {
        position: absolute;
        height: 100.5vh;
        width: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 1 ), transparent);
        z-index: 1;
        width: 44%;
    }
}

/*USER AUTH SECTION*/

.login{

}

.login h1{
    text-align: center;
    font-size:2.2em;
}

.input-group{
    margin-bottom: 1em;
    display: flex;
}

.input-group input{
    padding:.5em;
    border-radius: 5px 0 0 5px;
    border: 1px solid #4d4d4d;
}

    .input-group label {
        background-color: #4d4d4d;
        padding: .33em .7em;
        min-width: 5em;
        margin-left: 0;
        border-radius: 0 5px 5px 0;
        color: #fff;
        text-align: center;
        border: 1px solid #4d4d4d;
    }