@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}


        
        <section class="login container-mobile">            
            <form id="account" method="post" class="login-form">
               <h1 class="login-title">@ViewData["Title"]</h1>
                <div asp-validation-summary="ModelOnly" class="wrong-info"></div>
                <div class="option">
                    <div class="input-group">
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email" ></label>
                    </div>
                    <span asp-validation-for="Input.Email" class="wrong-info"></span>
                </div>
                <div class="option">
                <div class="input-group">
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                </div>
            <span asp-validation-for="Input.Password" class="wrong-info"></span>
                </div>
                <div>
                    <div class="option checkbox-group">
                        <label asp-for="Input.RememberMe" class="checkbox-label">
                            <input class="checkbox-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                <div class="checkbox-group">
                    <button id="login-submit" type="submit" class="login-btn">Login</button>
                </div>
                
                </div>
                <div class="checkbox-group">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
            <div class="login-info">
                <p>
                     Logging in to the application provides personalized access to exclusive features and content tailored to your needs. By logging in, you can unlock benefits such as saved preferences, access to restricted content, and seamless synchronization across devices. Join our community today and experience the full potential of World Chronicles!
                </p>

            </div>
        </section>
   
   


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
