@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}
@using KronikiPodwalaV2.Models;
@model List<EventModel>;
<div class="index">
    <p id="filters">Filters</p>
    <div class="search-nav">
            <form asp-action="Filter" asp-controller="Events" method="post" class="search">
                <div class="input-group">
                    <input type="number" name="year" />
                    <label>Year</label>
                </div>
                <div class="input-group">
                    <input type="text" name="search" />
                    <label>Name</label>
                    
                </div>
                <button type="submit" class="search-btn">Search</button>
                
             </form>
    </div>
    <hr />
    @if (ViewBag.Message == "You didnt fill filters")
    {
        <h1>You didnt fill filters</h1>
    }
    else
    {
        @foreach (EventModel e in Model)
        {
            
            string shortenedString = e.EventDescription.Substring(0, Math.Min(e.EventDescription.Length, 300));

            
            <div class="event-card">
                <h2 class="title">@e.EventName</h2>
                <p class="year">@e.EventYear</p>
                <p class="desc">@shortenedString...</p>
                <a asp-action="ShowEvent" asp-route-id="@e.Id">See Article About This</a>
            </div>
            <hr />
        }
    }
    
</div>