@{
    ViewData["Title"] = "Home Page";
}

<section class=" landpage">
    <div class="container-mobile  landpage-text">
        <h1 class="display-4">Welcome in <span class="blue header">Chronicles</span></h1>
        <p>What is <span class="blue">Chronicles</span>?</p>
        <p>It is a collection of all events that have occurred in the history of the <spam class="blue">world</spam></p>
        <p>If you want to learn the history of the world, its creation and all its events, you've come to the right place. Our application contains them and allows you to search for them, so you won't waste time digging through old websites or Wiki!</p>
        <hr />
        <p><span class="blue">Interested</span>? Here's everything you needs</p>
        <div class="account-btns">
            <button class="account-btn"><a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></button>
            <button class="account-btn"><a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></button>
        </div>
     </div>
     <div class="landpage-img">
         <div class="layer"></div>
         <img src="~/css/imgs/book.jpg" alt="landpage img"/>
     </div>
    
</section>



