@{
    ViewData["Title"] = "Home Page";
}

<div class=" landpage  page flex container">
    <div class="container text-center">
        <h1 class="display-4">Witaj w <span class="blue header">Kronikach</span></h1>
        <p>Czym są <span class="blue">Kroniki</span>?</p>
        <p>Jest to zbiór wszytskich wydarzeń, które wydarzyły się w przeciągu istnienia naszej szkoły.</p
        <p>Jeśli chcesz poznać historie szkoły, jej powstania, wszystkich świąt to dobrze trafiłeś. Nasza aplikacja zawiera je i pozwala na wyszukiwanie ich przez co nie stracisz czasu na zbędne grzebanie po starych stronach!</p>
        <hr />
        <p><span class="blue">Zainteresowany</span>? U dołu masz wszystko czego potrzebujesz</p>
        <div class="account-btns">
            <button class="account-btn"><a id="register" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a></button>
            <button class="account-btn"><a id="login" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a></button>
        </div>
     </div>
     <div class="landpage-img">
         <div class="svg-bg">
             <partial name="_splash" />
         </div>
         <img src="~/css/imgs/Grabski_Wladyslaw.jpg" alt="Wladyslaw Grabski" class="index"/>
     </div>
</div>
